.flex {
  display: flex;
}

.grid {
  display: grid;
}

.justify-between {
  justify-content: space-between;
}

.gap-md {
  gap: 1rem;
}

.gap-sm {
  gap: 0.75rem;
}

.gap-xs {
  gap: 0.5rem;
}

.container {
  max-width: 40em;
  margin-inline: auto;
  padding: 2rem;
}

.desktop-only {
  display: none;
}

@media (width >= 80em) {
  .desktop-only {
    display: initial;
  }

  .container {
    padding-inline: 0;
    padding-block: 1.5rem;
  }
}
